
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<a href="https://api.instagram.com/oauth/authorize?app_id=437082853888393&redirect_uri=https://d9c9de21.ngrok.io/Auth&scope=user_profile,user_media&response_type=code" class="btn btn-primary">Login</a>