
@{
    ViewBag.Title = "Login";
}

<h2>Click the button will redirect to instagram to log in.</h2>
<a href='https://api.instagram.com/oauth/authorize?app_id=437082853888393&redirect_uri=https://12bdfb65.ngrok.io/Auth&scope=user_profile,user_media&response_type=code&state={"redirect":"/livecart/guid","a":"b"}' class="btn btn-primary">
    <i class="fab fa-instagram fa-lg"> Login</i> 
</a>
