@model List<InstagramWebhookEntry<ChangeModel<CommentValueModel>>>

@{
    ViewBag.Title = "Comment";
}

<h2>Comment</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Text</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            foreach (var c in m.Changes)
            {
                <tr>
                    <td>@c.Type.Id</td>
                    <td>@c.Type.Text</td>
                    <td>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            Reply
                        </button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">What do you want to reply?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea class="form-control"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Reply</button>
            </div>
        </div>
    </div>
</div>